*.o                                                                                                                                            
.git
Dockerfile.*
Makefile.dep 
Makefile.docker
plotnetcfg                                                                                                                                     
tags                                                                                                                                           
version.h                                                                                                                                      
