.git
Makefile.docker
Dockerfile
*.o                                                                                                                                            
plotnetcfg                                                                                                                                     
version.h                                                                                                                                      
tags                                                                                                                                           
Makefile.dep 
